.name{
    font-size: 40px;
    margin: 10px 10px;
    font-style: italic;
    color: #deb888;

}
.intro_img{
    float: left;
    margin: 10px 50px;
    display: block;
}
.header{
    display: inline;
}
body{background-size: cover;
    background-color: beige;
    background-image: url(p.png) ;
    ;
    margin: 10px 100px;
}

.section{
    color: bisque;
    display: inline;
    font-size: 20px;
    text-align-last: right;
}

.table{
    color: bisque;
    display: block;
    font-size: 20px;
}

